<script>
import Header from '../components/global/Header.vue';
import Hero from '../components/home/Hero.vue';
import Clients from '../components/home/Clients.vue';
import Community from '../components/home/Community.vue';
import Unlock from '../components/home/Unlock.vue';
import Achivments from '../components/home/Achivments.vue';
import Calendar from '../components/home/Calendar.vue';
import Customers from '../components/home/Customers.vue';
import CommunityUpdates from '../components/home/CommunityUpdates.vue';
import Demo from '../components/home/Demo.vue';
import Footer from '../components/global/Footer.vue';

export default {
  components: {
    Header,
    Hero,
    Clients,
    Community,
    Unlock,
    Achivments,
    Calendar,
    Customers,
    CommunityUpdates,
    Demo,
    Footer,
  },
};
</script>

<template>
    <div>
        <Header></Header>
        <div class="main-div">
        <Hero></Hero>
        <Clients></Clients>
        <Community></Community>
        <Unlock></Unlock>
        <Achivments></Achivments>
        <Calendar></Calendar>
        <Customers></Customers>
        <CommunityUpdates></CommunityUpdates>
        <Demo></Demo>
        </div>
        <Footer></Footer>
    </div>
</template>

<style lang="scss" scoped>
@import "../assets/styles/main";
.main-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
</style>