<script>
export default {
  props: {
    dataObject: {
      type: Object,
      required: true,
    },
  },
};
</script>
<template>
    <div class="achivment-card-wrapper">
            <div class="achivment-img-wrapper">
              <img :src="dataObject.url" :alt="dataObject.alt" class="achivment-img">
            </div>
            <div class="achivment-details">
                <p class="achivment-text achivment-number">{{ dataObject.number }}</p>
                <p class="achivment-text">{{ dataObject.text }}</p>
            </div>
    </div>    
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";

.achivment-card-wrapper {
  text-align: center;
  padding: 24px 32px 24px 32px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.achivment-img {
  width: 48px;
  height: 48px;
}
.achivment-text {
  margin: 0;
  text-align: left;
}
.achivment-number {
  font-weight: 700;
  font-size: 28px;
}
</style>