<script>
import AchivmentCard from './AchivmentCard.vue';

export default {
  components: {
    AchivmentCard
  },
  data() {
    return {
      itemsArray: [
        { 
            url: "/src/assets/img/home/achivments/Icon1.png", 
            alt: "Icone Member",
            number: "2,245,341",
            text: "Members",
        },
        { 
            url: "/src/assets/img/home/achivments/Icon2.png", 
            alt: "Icone Clubs",
            number: "46,328",
            text: "Clubs" 
        },
        { 
            url: "/src/assets/img/home/achivments/Icon3.png", 
            alt: "Icone Event Bookings",
            number: "828,867",
            text: "Event Bookings"
        },
        { 
            url: "/src/assets/img/home/achivments/Icon4.png", 
            alt: "Icone Payments",
            number: "1,926,436",
            text: "Payments"
        },
      ]
    }  
  }
};
</script>

<template>
    <section class="achivment">
        <div class="container">
            <div class="wrapper-comtainer">
                <div class="main-div">
                    <h2 class="achivment-subtitle">Helping a local <br><span class="subheader-decor">business reinvent itself</span></h2>
                    <p>
                        We reached here with our hard work and dedication
                    </p>
                </div>
                <div class="mini-card">
                    <AchivmentCard v-for="(item, index) in itemsArray" :key="index" :dataObject="item"></AchivmentCard>
                </div>
            </div>
        </div>
    </section>
    
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";

.container {
    background: $background_second;
}
.wrapper-comtainer {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 64px 50px;
}
.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 540px;
}
.mini-card {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.achivment-subtitle {
    font-weight: 600;
    font-size: 36px;
}
</style>