<script>
</script>

<template>
    <section class="clients">
        <div class="container">
            <div class="clients-wrapper">
                <div class="main-div">
                    <h2>Our Clients</h2>
                    <p>We have been working with some Fortune 500+ clients</p>
                </div>
                <div class="logos">
                    <img class="logo-img" src="../../assets/img/home/clients/Logo1.png" alt="Logo1"> 
                    <img class="logo-img" src="../../assets/img/home/clients/Logo2.png" alt="Logo2"> 
                    <img class="logo-img" src="../../assets/img/home/clients/Logo3.png" alt="Logo3"> 
                    <img class="logo-img" src="../../assets/img/home/clients/Logo4.png" alt="Logo4"> 
                    <img class="logo-img" src="../../assets/img/home/clients/Logo5.png" alt="Logo5"> 
                    <img class="logo-img" src="../../assets/img/home/clients/Logo6.png" alt="Logo6"> 
                    <img class="logo-img" src="../../assets/img/home/clients/Logo3.png" alt="Logo3"> 
                </div>
            </div>
        </div>
    </section>   
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";

.clients-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 50px;
    gap: 16px;
}
.logos {
    height: 98px;
    display: flex;
    justify-content: space-between;
}
</style>