<script>
export default {
  props: {
    dataObject: {
      type: Object,
      required: true,
    },
  },
};
</script>
<template>
    <div class="community-card-wrapper">
        <img :src="dataObject.url" :alt="dataObject.alt">
        <div class="main">
            <h3>{{ dataObject.subheader }}</h3>
            <p>{{ dataObject.text }}</p>
        </div>
      </div>    
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";

.community-card-wrapper {
  text-align: center;
  padding: 24px 32px 24px 32px;
}
</style>