<script>
import CommunityUpdateCard from './CommunityUpdateCard.vue';

export default {
  components: {
    CommunityUpdateCard
  },
  data() {
    return {
      itemsArray: [
        { url: "/src/assets/img/home/communityUpdates/image1.jpg", text: 'Creating Streamlined Safeguarding Processes with OneRen' },
        { url: "/src/assets/img/home/communityUpdates/image2.jpg", text: 'What are your safeguarding responsibilities and how can you manage them?' },
        { url: "/src/assets/img/home/communityUpdates/image3.jpg", text: 'Revamping the Membership Model with Triathlon Australia' },
      ]
    }  
  }
};
</script>

<template>
  <section class="community-update">
    <div class="container">
      <div class="wrapper-container">
          <div class="text-div">
            <h2>Caring is the new marketing</h2>
            <p class="text-paragraph">The Nexcent blog is the best place to read about the latest membership insights, trends and more. 
              See who's joining the community, 
              read about how our community are increasing their membership income and lot's more.
            ​</p>
          </div>
          <div class="card-div">
          <CommunityUpdateCard v-for="(item, index) in itemsArray" :key="index" :dataObject="item"></CommunityUpdateCard>
          </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";

.wrapper-container {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  text-align: center;
}
.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px calc((100% - 660px)/2);
}
.card-div {
  display: flex;
  justify-content: space-between;
}
</style>