<script>
import CommunityCard from './CommunityCard.vue';

export default {
  components: {
    CommunityCard
  },
  data() {
    return {
      itemsArray: [
        { 
            url: "/src/assets/img/home/community/Icon-member.png", 
            alt: "Icone Member",
            subheader: "Membership Organisations",
            text: "Our membership management software provides full automation of membership renewals and payments",
        },
        { 
            url: "/src/assets/img/home/community/Icon-assosiation.png", 
            alt: "Icone Assosiation",
            subheader: "National Associations",
            text: "Our membership management software provides full automation of membership renewals and payments" 
        },
        { 
            url: "/src/assets/img/home/community/Icon-club.png", 
            alt: "Icone Club",
            subheader: "Clubs And Groups",
            text: "Our membership management software provides full automation of membership renewals and payments"
        },
      ]
    }  
  }
};
</script>

<template>
    <section class="community">
        <div class="container">
            <div class="community-wrapper">
                <div class="main-div">
                    <h2>Manage your entire community <br> in a single system</h2>
                     <p>Who is Nextcent suitable for?</p>
                </div>
                <div class="card-div">
                    <CommunityCard v-for="(item, index) in itemsArray" :key="index" :dataObject="item"></CommunityCard>
             </div>
            </div>
        </div>
    </section>
    
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";
.community-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 50px;
}
.main-div {
    text-align: center;
}
.card-div {
    display: flex;
    justify-content: space-between;
}

</style>