<script>
import SvgIcon from '../global/SvgIcon.vue'
export default {
  components: {
        SvgIcon,
    },
  props: {
    dataObject: {
      type: Object,
      required: true,
    },
  },
};
</script>
<template>
    <div class="wrapper-container">
        <img :src="dataObject.url" alt="Community Updates Image">
        <div class="main-div">
            <p class="community-update-card-text">{{ dataObject.text }}</p>
            <div class="readmore-wrapper">
              <p class="readmore-text">Read More</p>
              <a href="#"><SvgIcon name="RightArrow" class="icon"></SvgIcon></a>
            </div>
        </div>
      </div>    
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";

.wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-div {
border-radius: 6px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
position: relative;
bottom: calc(172px / 2);
left: calc((100% - 317px)/2);
background-color: $background_second;
padding: 20px;
max-width: 320px;
font-size: 20px;
font-weight: 600;
}
.readmore-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.readmore-text {
  color: $button_background;
  margin-right: 20px;
}
.icon {
  stroke: $button_background;
}
</style>