<script>
import SvgIcon from '../global/SvgIcon.vue'

export default {
    components: {
        SvgIcon,
    }
};

</script>

<template>
    <section class="customers">
        <div class="container">
            <div class="wrapper-container">
                <img class="tesla-img" src="../../assets/img/home/customers/Tesla.jpg" alt="Tesla"> 
                <div class="main-block">
                    <p>Maecenas dignissim justo eget nulla rutrum molestie. 
                        Maecenas lobortis sem dui, vel rutrum risus tincidunt ullamcorper. 
                        Proin eu enim metus. 
                        Vivamus sed libero ornare, tristique quam in, gravida enim. 
                        Nullam ut molestie arcu, at hendrerit elit. 
                        Morbi laoreet elit at ligula molestie, nec molestie mi blandit. 
                        Suspendisse cursus tellus sed augue ultrices, quis tristique nulla sodales. 
                        Suspendisse eget lorem eu turpis vestibulum pretium. Suspendisse potenti. 
                        Quisque malesuada enim sapien, vitae placerat ante feugiat eget. 
                        Quisque vulputate odio neque, eget efficitur libero condimentum id. 
                        Curabitur id nibh id sem dignissim finibus ac sit amet magna.
                    </p>
                    <h3 class="customer-name">Tim Smith</h3>
                    <p>British Dragon Boat Racing Association</p>
                    <div class="logos">
                       <img src="../../assets/img/home/clients/Logo1.png" alt="Logo1"> 
                       <img src="../../assets/img/home/clients/Logo2.png" alt="Logo2"> 
                       <img src="../../assets/img/home/clients/Logo3.png" alt="Logo3"> 
                       <img src="../../assets/img/home/clients/Logo4.png" alt="Logo4"> 
                       <img src="../../assets/img/home/clients/Logo5.png" alt="Logo5"> 
                       <img src="../../assets/img/home/clients/Logo6.png" alt="Logo6"> 
                       <p class="logos-continue">Meet all customers</p>
                       <button class="svg-btn"><SvgIcon name="RightArrow" class="icon"></SvgIcon></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";

.container {
    background: $background_second;
}
.wrapper-container {
    display: flex;
    padding: 32px 50px;
    justify-content: space-between;
    gap: 78px;
}
.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logos-continue,
.customer-name {
    color: $text_decor;
}
.tesla-img {
    object-fit: cover;
}
.svg-btn {
    background: none;
    border: none;
}
.icon {
    fill: $button_background;
    stroke: $button_background;
}
</style>