<script>
</script>

<template>
    <section class="demo">
        <div class="container">
            <div class="wrapper-container">
                <h2 class="demo-subheader">Pellentesque suscipit fringilla libero eu.</h2>
                <button class="main-home-button">Get a Demo</button>
            </div> 
        </div>
    </section>
    
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";

.container {
    background: $background_second;
}
h2 {
    margin-top: 0;
}
.demo-subheader {
    font-weight: 600;
    font-size: 64px;
    padding: 0px calc(50% / 2)
}
.wrapper-container {
    text-align: center;
    padding-bottom: 40px;
}

</style>