<script>
import { Swiper, SwiperSlide } from 'swiper/vue';
import HeroSlide from './HeroSlide.vue';
import 'swiper/css';
import 'swiper/css/pagination';
import { Pagination } from 'swiper/modules';
export default {
    components: {
      Swiper,
      SwiperSlide,
      HeroSlide
    },
    data() {
    return {
      itemsArray: [
        { 
            url: "/src/assets/img/home/hero/hero-img.jpg", 
            alt: "Icone Member",
            subheader: "Lessons and insights",
            subheaderDecorate:"from 8 years",
            text: "Where to grow your business as a photographer: site or social media?",
        },
        { 
            url: "/src/assets/img/home/hero/hero-img.jpg", 
            alt: "Icone Member",
            subheader: "2Lessons and insights",
            subheaderDecorate:"from 8 years",
            text: "2Where to grow your business as a photographer: site or social media?",
        },
        { 
            url: "/src/assets/img/home/hero/hero-img.jpg", 
            alt: "Icone Member",
            subheader: "3Lessons and insights",
            subheaderDecorate:"from 8 years",
            text: "3Where to grow your business as a photographer: site or social media?",
        },
      ]
    }  
  },
    setup() {
        return {
        modules: [Pagination],
    };
    },
  };
</script>

<template>
    <section class="hero">
        <div class="container">
            <div class="slider">
                <swiper
                    :slides-per-view="1"
                    :pagination="true" 
                    :modules="modules"
                >
                    <swiper-slide v-for="(item, index) in itemsArray" :key="index">
                        <HeroSlide :dataObject="item"></HeroSlide> 
                    </swiper-slide>
                    </swiper>
            </div>
        </div>
    </section>
    
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";
.container {
    background: $background_second;
}
</style>