<script>
export default {
  props: {
    dataObject: {
      type: Object,
      required: true,
    },
  },
};
</script>
<template>  
      <div class="hero-container">
          <div class="text-block">
              <h2 class="hero-subheader">{{ dataObject.subheader }} <br> 
                <span class="subheader-decor">{{ dataObject.subheaderDecorate }}</span></h2>
              <p>{{ dataObject.text }}</p>
              <button class="main-home-button">Register</button>
          </div> 
          <img class="hero-img" :src="dataObject.url" :alt="dataObject.alt">
      </div>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";

.hero-container {
    height: 600px;
    padding: 144px 50px;
    display: flex;
    justify-content: space-between;
}
.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-subheader {
    font-weight: 600;
    font-size: 64px;
}
.hero-img {
    width: 391px;
    height: 407px;
}
.main-home-button {
    width: 128px;
    height: 52px;
}
</style>