<script>
export default {
  props: {
    url: {
      type: String,
      required: true
    },
    subtitle: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    }
  }
};
</script>
<template>
    <div class="unlock-card">
        <img :src="url" alt="Unlocl Image">
        <div class="main-div">
            <h2 class="unlock-card-subheader">{{ subtitle }}</h2>
            <p>{{ text }}</p>
            <button class="main-home-button">Learn More</button>
        </div>
    </div>    
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";
.unlock-card-subheader {
  font-weight: 600px;
  font-size: 36px;
}
.unlock-card {
  display: flex;
  justify-content: space-around;
}
.main-div {
  width: 660px;
}
</style>