<script>
import UnlockCard from './UnlockCard.vue';

export default {
  components: {
    UnlockCard
  },
  data() {
    return {
      url: "/src/assets/img/home/unlock/unlock.jpg",
      subtitle: "The unseen of spending three years at Pixelgrade",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo ipsum. Sed accumsan quam vitae est varius fringilla. Pellentesque placerat vestibulum lorem sed porta. Nullam mattis tristique iaculis. Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar, aliquam quam vitae, tempus sem. Donec elementum pulvinar odio.",
    };
  }
};
</script>

<template>
  <section class="unlock">
    <div class="container">
      <div class="container-wrapper">
        <UnlockCard :url="url" :subtitle="subtitle" :text="text"></UnlockCard>
      </div>
  </div>
  </section>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";

</style>