* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Inter', 'Arial', sans-serif;
    color: $main_text;
}
a {
    color: inherit;
}
.main-home-button {
    background-color: $button_background;
    color: $button_text;
    border: none;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    padding: 14px 32px;
}
.main-home-button:hover {
    background: none;
    color: $button_background;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 24px;
}
.logo-img {
    height: 48px;
    width: 48px;
}
.subheader-decor {
    color: $text_decor;
}