$background_main: #F5F7FA;
$main_text: #717171;
$header_text: #717171;
$button_background: #4CAF4F;
$button_text: #F5F7FA;
$text_decor: #4CAF4F;
$background_second: #F5F7FA;
$footer_background: #263238;
$footer_text: #FFFFFF;
$header_link: #18191F;
$footer_input: #717190;