<script>
import SvgIcon from './SvgIcon.vue'

export default {
    components: {
        SvgIcon,
    }
};
</script>

<template>
    <footer>
        <div class="container">
            <div class="footer-container">
                <div class="main-div">
                    <a href="#" class="logo">
                        <img src="../../assets/img/home/footer/Logo.png" alt="logo">
                    </a>
                    <div class="main-text">
                        <p>Copyright © 2020 Nexcent ltd.</p>
                        <p>All rights reserved</p>
                    </div>
                    <div class="social-div">
                        <a href="#" class="social"><img src="../../assets/img/home/footer/InstaIcons.png" alt="logo"></a> 
                        <!-- <button class="svg-btn"><SvgIcon name="Insta" class="icon"></SvgIcon></button> -->
                        <a href="#" class="social"><img src="../../assets/img/home/footer/SocialIcons.png" alt="logo"></a> 
                        <a href="#" class="social"><img src="../../assets/img/home/footer/TwitterIcons.png" alt="logo"></a>
                        <a href="#" class="social"><img src="../../assets/img/home/footer/YoutubeIcons.png" alt="logo"></a>
                    </div>
                </div>
                <div class="link-div">
                    <div class="company-div">
                    <h4>Company</h4>
                    <ul class="company-menu">
                        <li><a href="#" class="link">About us</a></li>
                        <li><a href="#" class="link">Blog</a></li>
                        <li><a href="#" class="link">Contact us</a></li>
                        <li><a href="#" class="link">Pricing</a></li>
                        <li><a href="#" class="link">Testimonials</a></li>
                    </ul>
                </div>
                <div class="support-div">
                    <h4>Support</h4>
                    <ul class="company-menu">
                        <li><a href="#" class="link">Help center</a></li>
                        <li><a href="#" class="link">Terms of service</a></li>
                        <li><a href="#" class="link">Legal</a></li>
                        <li><a href="#" class="link">Privacy policy</a></li>
                        <li><a href="#" class="link">Status</a></li>
                    </ul>
                </div>
                <div class="login">
                    <h4>Stay up to date</h4>
                    <input class="login-input" placeholder="Your email address"/>
                </div>
                </div>
            </div>
        </div>    
    </footer>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";

a {
    display: inline-block;
}
ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    flex-grow: 1;
    justify-content: center;
}
.link {
    text-decoration: none;
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
}
.container {
    background-color: $footer_background;
}
.footer-container {
    color: $footer_text;
    padding: 50px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.main-div {
    display: flex;
    flex-direction: column;
    gap: 30px
}
.social-div {
    display: flex;
    gap: 20px;
}
.link-div {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.login-input {
    border-radius: 6px;
    background-color: $footer_input;
    background-image: url(../../assets/img/home/footer/send.png);
    background-position: 150px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px;
}
input::placeholder { 
  color: $footer_text
}
.main-text {
    font-weight: 400;
    font-size: 14px;
}
</style>