<script>
</script>

<template>
    <header>
        <div class="container">
            <div class="header-container">
                <a href="#" class="logo"><img src="../../assets/img/home/header/logo.png" alt="logo"></a>
                 <nav class="header-nav">
                    <ul class="header-menu">
                        <li><a href="#" class="header-link">Home</a></li>
                        <li><a href="#" class="header-link">Service</a></li>
                        <li><a href="#" class="header-link">Feature</a></li>
                        <li><a href="#" class="header-link">Product</a></li>
                        <li><a href="#" class="header-link">Testimonial</a></li>
                        <li><a href="#" class="header-link">FAQ</a></li>
                    </ul>
                </nav>
                <div class="login">
                    <button class="main-home-button">Login</button>
                    <button class="main-home-button">Sign Up</button>
                </div>
            </div>
        </div>    
    </header>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/main";
a {
    display: inline-block;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
    justify-content: center;
}
.header-link {
    text-decoration: none;
    color: $header_link;
}
.header-link:hover {
    color: $header_text;
}
.container {
    background: $background_second;
}
.header-container {
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}
.header-menu {
    gap: 64px;
    display: flex;
}
.login {
    display: flex;
    justify-content: end;
    gap: 10px;
}
</style>